<h4 class="text-cneter">Ingresar Gasto</h4>
<hr>
<div *ngIf="formularioIncorrecto" class="text-center ">
  <span class="badge bg-danger textError">
    {{ textIncorrecto | uppercase }}
  </span>
</div>
<div class="form-group mb-4">
  <label for="gasto">Gasto</label>
  <input type="string" [(ngModel)]="nombreGasto" class="form-control form-control-lg" id="gasto" placeholder="Ej: Comida"/>
</div>
<div class="form-group mb-4">
  <label for="cantidad">Cantidad</label>
  <input type="number"
  [(ngModel)]="cantidad" class="form-control form-control-lg" id="cantidad" placeholder="Ingrese Cantidad"/>
</div>

<button class="btn btn-secondary btn-lg mt-2" (click)="agregarGasto()">Agregar Gasto</button>
